*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

.game {
    border: solid 10px white;
    border: solid 10px black;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 10px 10px 30px 0 black;
}

.background {
    background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;  
    /* border: solid 10px black; */
    /* margin: 10px; */
}

.background td {
    padding: 0;
}

.lava {
    background: rgb(255, 100, 100);
    /* border: solid 1px black; */
    /* box-shadow: 2px 2px 1px black; */
}

.wall {
    background: white;
    border: solid 1px black;
    /* box-shadow: 1px 1px 1px black; */
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89);
    border-radius: 50%;
    /* border: solid 1px black; */
    /* box-shadow: 2px 2px 1px black; */
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}

#scoreContainer {
    /* border: solid 1px black; */
    display: flex;
    margin: 40px 0px;
    justify-content: space-around;
    font-size: 30px;
    /* flex-wrap: wrap; */

}
#messageContainer {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* border: solid 1px black; */
    font-size: 50px;
    margin: 20px;
}
